@charset "UTF-8";

@font-face {
  font-family: "icon_font";
  src:url("fonts/icon_font.eot");
  src:url("fonts/icon_font.eot?#iefix") format("embedded-opentype"),
    url("fonts/icon_font.woff") format("woff"),
    url("fonts/icon_font.ttf") format("truetype"),
    url("fonts/icon_font.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon_font" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon_font" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-left:before {
  content: "\61";
}
.icon-angle-down:before {
  content: "\62";
}
.icon-angle-right:before {
  content: "\63";
}
.icon-angle-up:before {
  content: "\64";
}
.icon-expand:before {
  content: "\65";
}
.icon-github-square:before {
  content: "\66";
}
.icon-github-alt:before {
  content: "\67";
}
.icon-github:before {
  content: "\68";
}
.icon-hand-pointer-o:before {
  content: "\69";
}
.icon-instagram:before {
  content: "\6a";
}
.icon-linkedin-square:before {
  content: "\6b";
}
.icon-map-pin:before {
  content: "\6c";
}
.icon-picture-o:before {
  content: "\6d";
}
.icon-street-view:before {
  content: "\6e";
}
.icon-youtube-square:before {
  content: "\6f";
}
.icon-squirrel:before {
  content: "\70";
}
.icon-social-squidoo:before {
  content: "\71";
}
.icon-map:before {
  content: "\72";
}
.icon-guide-dog:before {
  content: "\73";
}
.icon-globe:before {
  content: "\74";
}
.icon-paypal:before {
  content: "\75";
}
.icon-rocket:before {
  content: "\76";
}
.icon-blank-pin:before {
  content: "\77";
}
