

p, b, span {
	font-family: 'Raleway', sans-serif;
	padding-left:10px;
	float:left;
}

b {
	font-weight:800;
}

#overlay img{
	width:100%;
	height:auto;

}

.overlay_container{
	/*position:relative;*/
}

.overlay_innards{
	position: absolute;
	z-index: 99;
	background-color: rgb(255, 255, 255);
	height:100%;
}


.tree_info{
	width: 400px;
}
#tree_info_div{
	/*height: auto;*/
}

.div-divide-half{
	width:50%;
}
.float-left{
	float:left;
}

.float-right{
	float: right;
}

#tree_info_div{
	display: none;
}

/*
source : http://jsfiddle.net/xftr5/17/
*/
#close-button {
cursor: pointer;
    float:right;
    display:inline-block;
    padding:2px 5px;
   
}

#missing_dead, #accuracy{
	padding-top:25px;
}
