body {
font-family: 'Raleway', sans-serif;
}

p, b, span {
	font-family: 'Raleway', sans-serif !important;
	padding-left:10px;
	float:left;
}

b {
	font-weight:800;
}

#overlay img{
	width:100%;
	height:auto;

}

.overlay_container{
	/*position:relative;*/
}

.overlay_innards{
	position: absolute;
	z-index: 99;
	height:100%;
	margin-right:30px;

}


.tree_info{
	width: 400px;
	background-color: rgb(236, 239, 223);
	height: 100%;
	-webkit-box-shadow: 10px 0px 16px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    10px 0px 16px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         10px 0px 16px 0px rgba(50, 50, 50, 0.4);

}

.planted_by{
	width:100%;
	height:40px;
	background-color: #4d755d;
}

.planted_by p{
	color:white;
	float:right;
	font-size:14px;
	margin:10px;
}

.div-divide-half{
	width:50%;
}
.float-left{
	float:left;
}

.float-right{
	float: right;
}

#tree_info_div{
	display: none;
}

#close-button {
	cursor: pointer;
    	float:right;
	margin: 0px -30px -20px -20px;
	padding-top: 5px;
	padding-left: 13px;
	width: 35px;
	height: 30px;
	background-color: rgb(236, 239, 223);
}

#missing_dead, #accuracy{
	padding-top:25px;
}

#close-button:hover {
    background-color: white;
}
