

p, b, span {
	font-family: 'Raleway', sans-serif;
	padding-left:10px;
	float:left;
}

b {
	font-weight:800;
}

#overlay img{
	width:100%;
	height:auto;

}

.overlay_container{
	/*position:relative;*/
}

.overlay_innards{
	position: absolute;
	z-index: 99;
	height:100%;
	margin-right:30px;
}


.tree_info{
	width: 400px;
	background-color: rgb(255, 255, 255);
	height: 100%;

}

.div-divide-half{
	width:50%;
}
.float-left{
	float:left;
}

.float-right{
	float: right;
}

#tree_info_div{
	display: none;
}

#close-button {
	cursor: pointer;
    	float:right;
	margin: 0px -35px -20px -20px;
	padding-top: 5px;
	padding-left: 13px;
	width: 35px;
	height: 35px;
	background-color: white;
}

#missing_dead, #accuracy{
	padding-top:25px;
}
