body {
font-family: 'Raleway', sans-serif;
background-color: rgb(236, 239, 223);
}

p, b, span {
	font-family: 'Raleway', sans-serif !important;
	padding-left:10px;
	float:left;
}

b {
	font-weight:800;
}

#overlay img{
	width:100%;
	height:auto;

}

.overlay_container{
	/*position:relative;*/
}

.overlay_innards{
	position: absolute;
	z-index: 99;
	height:100%;
	margin-right:30px;

}


.tree_info{
	width: 400px;
	background-color: rgb(236, 239, 223);
	height: 100%;
	-webkit-box-shadow: 10px 0px 16px 0px rgba(50, 50, 50, 0.4);
	-moz-box-shadow:    10px 0px 16px 0px rgba(50, 50, 50, 0.4);
	box-shadow:         10px 0px 16px 0px rgba(50, 50, 50, 0.4);

}

.planted_by{
	width:100%;
	height:40px;
	background-color: #4d755d;
	margin-bottom:30px;
}

.planted_by p{
	color:white;
	float:right;
	font-size:14px;
	margin:10px;
}


.float-left{
	float:left;
}

.float-right{
	float: right;
}

#tree_info_div{
	display: none;
}

#close-button {
	cursor: pointer;
    	float:right;
	margin: 0px -30px -20px -20px;
	padding-top: 5px;
	padding-left: 13px;
	width: 35px;
	height: 30px;
	background-color: rgb(236, 239, 223);
}

#close-button:hover {
    background-color: white;
}

.planter_image{
	border: 3px solid #4d755d;
	width:106px;
        height:106px;
	position: absolute;
	margin: -105px 0px 0px 294px;
}

.planter_image img{
	width:100px !important;
	height:100px !important;
}

.info_data{
	width:300px;
	margin-left:10px;
}

.next_prev_buttons{
	width:400px;
	margin-left:10px;
	margin-right:10px;
}

.mapChange{
margin-left:400px !important;
}

.tree_nav{
  max-height:10%;
  max-width:10%;
}
