body {
  font-family: "Lato", sans-serif;
  background-color: rgb(236, 239, 223);
  line-height: .5;
}

b {
  font-weight: 800;
}

#overlay img {
  width: 100%;
  height: 450px;
}

.overlay_container {
  /*position:relative;*/
}

.overlay_innards {
  position: absolute;
  z-index: 99;
  height: 100%;
  margin-right: 30px;
}

.container-buttons {
  position: absolute;
  top: calc(217px / 2 + 27px);
}

.tree_info {
  width: 354px;
  background-color: #fff;
  height: 100%;
  -webkit-box-shadow: 10px 0px 16px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 10px 0px 16px 0px rgba(50, 50, 50, 0.4);
  box-shadow: 10px 0px 16px 0px rgba(50, 50, 50, 0.4);
}

@media (max-width: 801px) {
  .tree_info {
    width: 80vw;
  }
}

.tree_info_divider {
  height: 3px;
  background-color: #86c232;
}

.planted_by {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  min-height: 64px;
  background-color: #fff;
  color: #474b4f;
  font-size: 16px;
  margin-bottom: 24px;
  padding: 8px;
  padding-left: calc(119px + 12px);
}

.planted_by p {
  margin-bottom: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.tree_nav {
  max-width: 60px;
}

#tree_info_div {
  display: none;
}

#close-button {
  cursor: pointer;
  float: right;
  margin: 0px -30px -20px -20px;
  padding-top: 5px;
  padding-left: 13px;
  width: 35px;
  height: 30px;
  background-color: rgb(236, 239, 223);
}

#close-button:hover {
  background-color: white;
}

.planter_image {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #86c232;
  border-radius: 50%;
  width: calc(119px + 2 * 3px);
  height: calc(119px + 2 * 3px);
  position: absolute;
  overflow: hidden;
  margin-top: calc(-119px / 2);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
}

.planter_image_wrap {
  border: 1px solid #86c232;
  border-radius: 50%;
  overflow: hidden;
  width: 93px;
  height: 93px;
  position: relative;
}

.planter_image_wrap img {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  max-width: 150%;
  max-height: 150%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

.info_data {
  padding: 0 16px;
  width: 100%;
  white-space: nowrap;
}

.info_data_status.success::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("/img/check-icon.png");
  background-size: cover;
}

#planter_name {
  color: #333333;
  font-size: 16px;
  font-family: "Lato";
}

#status {
  margin-bottom: 16px;
}

@media (max-width: 801px) {
  #status {
    margin-bottom: 24px;
  }
}

#status-data {
  padding: 5px;
  color: #333333;
  font-size: 14px;
  font-family: "Lato";
}

#sponsor {
  color: #333333;
  font-size: 14px;
  font-family: "Lato";
}

.next_prev_buttons {
  width: 400px;
  margin-left: 10px;
  margin-right: 10px;
}

.mapChange {
  margin-left: 400px !important;
}

.tree_nav {
  max-height: 10%;
  max-width: 100%;
}

.loader {
  border: 12px solid #f3f3f3;
  border-top: 12px solid #ff9800;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1.5s linear infinite;
}

.page-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.45);
  width: 100%;
  height: 100%;
  transition: opacity 0.5s 0s, display 0s 0.5s;
}

.panel-loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.45);
  width: 354px;
  height: 100%;
  z-index: 99999;
  transition: opacity 0.5s 0s, display 0s 0.5s;
}

.page-loader:not(.active),
.panel-loader:not(.active) {
  display: none;
  opacity: 0;
  transition: opacity 0.5s 0s, display 0s 0.5s;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.alert-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.alert {
  margin: 20px auto;
}

#logo-floating-map {
  position: absolute;
  bottom: 25px;
  left: calc(100% - 161px);
  margin-left: -60px;
  user-select: none;
}

@media (max-width: 801px) {
  #logo-floating-map {
    left: auto;
    bottom: auto;
    right: 0px;
    top: 0px;
    margin: 10px;
  }
  #logo-floating-map > img {
    width: 45vw;
  }
}

#impact-owner-data {
  font-weight: bold;
}


#tree_leaf_picture_holder {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#tree_leaf_picture_holder:hover {opacity: 0.7;}

#tree_base_picture_holder {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#tree_base_picture_holder:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}