apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "treetracker-webmap-api"
  namespace: "webmap"
  labels:
    app: "treetracker-webmap-api"
spec:
  replicas: 2
  selector:
    matchLabels:
      app: "treetracker-webmap-api"
  template:
    metadata:
      labels:
        app: "treetracker-webmap-api"
    spec:
      containers:
        - name: "treetracker-webmap-api"
          image: "greenstand/treetracker-web-map-api:TAG"
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: dbconnection
                  key: database
