apiVersion: v1
kind: Service
metadata:
  name: treetracker-webmap-api-ambassador-svc
  annotations:
  labels:
    app: treetracker-webmap-api
    name: treetracker-webmap-api-ambassador-svc
  namespace: webmap
spec:
  ports:
  - name: treetracker-webmap-api
    port: 80
    protocol: TCP
    targetPort: 3000
  selector:
    app: treetracker-webmap-api