body {
  margin: 0px;
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.side {
  position: absolute;
  background: white;
  font-size: 40px;
  z-index: 999;
  width: 250px;
  height: 100%;
}
